
<div class="container">
  <br><br>
  <div class="container col-2" style="margin-left: 42%;">
    <a href="/home" class="d-flex align-items-center ml-3 mb-lg-0 " >
      <img src="../../assets/logo.png" width="158" height="98">
    </a>
  </div>
  <p style="text-align: center;">Plataforma de diagnóstico inteligente</p>
  
  <div>
    <br>
    <h3 style="color: blue; text-align: justify;">Descripción:</h3>
    <h5 style="color: black; text-align: justify;">
      AutoDoc IA es una plataforma de diagnóstico inteligente que utiliza herramientas de inteligencia 
      artificial para ayudar a los propietarios de automóviles a identificar y solucionar problemas 
      mecánicos y eléctricos en sus vehículos de manera fácil, rápida y eficiente sin la necesidad de 
      esperar el diagnóstico de un mecánico.
    </h5>
    <h5 style="color: black; text-align: justify;">
      Esta aplicación permite a los usuarios con poco, medio e inclusive alto conocimiento en mecánica 
      automotriz, encontrar soluciones de manera rápida y efectiva a los diferentes problemas mecánicos 
      que puedan surgir tras el uso regular de su vehículo.
    </h5>
    <br>
    <h3 style="color: blue; text-align: justify;">Funcionalidades de la aplicación:</h3>
    <h5 style="color: black; text-align: justify;">
      Los usuarios podrán introducir el problema que tienen y recibir posibles soluciones de acuerdo 
      con lo descrito. Además, los usuarios podrán hacer uso de una herramienta que permite cargar
      imágenes en caso de que no se sepa describir el problema ocurrido mediante texto. De esta forma
      la aplicación analizará la imagen proporcionada e intentará proponer una solución coherente al 
      contenido de la imagen. Otra de las características que podrán estar disponibles en esta aplicación
      será la opción de cargar una imagen de algún vehículo y la herramienta de análisis de imágenes
      generará una nueva imagen con un nuevo diseño para el vehículo que se encuentra en ella.
    </h5>
    <br>
    <h3 style="color: blue; text-align: justify;">Beneficios potenciales:</h3>
    <h5 style="color: black; text-align: justify;">
      <p>• Ahorro de tiempo y dinero al identificar problemas antes de que se conviertan en costosas averías.</p> 
      <p>• Mayor seguridad al momento de realizar una reparación</p>
    </h5>
  </div>
  <br><br>
  <div>
    <p style="font-size: larger;">
      Empieza a utilizar AutoDoc IA <a href="#" [routerLink]="['/chat']" routerLinkActive="router-link-active" >AQUÍ</a>
    </p>
  </div>
</div>